<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="freenet.darknetconnector.DarknetAppConnector"
    android:versionCode="1"
    android:versionName="1.0" >
	<!-- define a permission -->
<permission
    android:protectionLevel="signature"
    android:name="freenet.darknetconnector.PERMISSIOIN_SELF"/>
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="freenet.darknetconnector.PERMISSIOIN_SELF" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />   
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.CAMERA"/>
	

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="freenet.darknetconnector.DarknetAppConnector.DarknetAppConnector"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="freenet.darknetconnector.DarknetAppConnector.PeerReferenceActivity"
            	  android:permission="freenet.darknetconnector.PERMISSIOIN_SELF"
            	  android:configChanges="keyboardHidden|orientation|screenSize"> </activity>
        <activity android:name="freenet.darknetconnector.DarknetAppConnector.QRDisplayActivity"
            	  android:permission="freenet.darknetconnector.PERMISSIOIN_SELF"
            	  android:configChanges="keyboardHidden|orientation|screenSize"> </activity>
        <activity android:name="com.google.zxing.client.android.CaptureActivity"
		   android:permission="freenet.darknetconnector.PERMISSIOIN_SELF"
		   android:screenOrientation="landscape"
		   android:configChanges="orientation|keyboardHidden"
		   android:exported="false"
		   android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
		   android:windowSoftInputMode="stateAlwaysHidden">
		   <intent-filter>
		      <action android:name="android.intent.action.MAIN"/>
		      <category android:name="android.intent.category.DEFAULT"/>
		   </intent-filter>
		   <intent-filter>
		      <action android:name="freenet.darknetconnector.QRCode.SCAN"/>
		      <category android:name="android.intent.category.DEFAULT"/>
		    </intent-filter>
		</activity>
		<receiver android:name="freenet.darknetconnector.DarknetAppConnector.ConnectionStateReceiver" >
    		<intent-filter> 
     			<action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
				<action android:name="android.net.wifi.STATE_CHANGE"/>
			</intent-filter>
		</receiver>
    </application>

</manifest>